<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
	
    <log4net configSource="log4net.config"/>

	<appSettings>
		<!-- Base URL usada pelo HttpClient -->
		<add key="ApiBaseUrl" value="http://127.0.0.1:8000/" />

		<!-- Path a testar para detetar que a API está viva (qualquer resposta HTTP conta como "UP") -->
		<add key="ApiHealthPath" value="/" />

		<!-- Pasta ONDE ESTÁ o manage.py -->
		<add key="ApiWorkingDir" value="C:\proj_dev\L_HUB_API\Learning-Hub-API-1v2" />

		<!-- Python do venv -->
		<add key="ApiPythonExe" value="C:\proj_dev\L_HUB_API\.venv\Scripts\python.exe" />

		<!-- Argumentos para arrancar o Django (recomendado noreload para não duplicar processos) -->
		<add key="ApiRunArgs" value="manage.py runserver 127.0.0.1:8000 --noreload" />

		<!-- Tempo máximo a aguardar que a API fique pronta -->
		<add key="ApiStartupTimeoutSeconds" value="45" />

		<!-- Se true, quando a WinForms fechar, mata o processo da API (se tiver sido iniciado por nós) -->
		<add key="StopApiOnExit" value="true" />
	</appSettings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	
    <runtime>
      <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
    </runtime>
	
    <System.Windows.Forms.ApplicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
